<!-- ******PROMO****** -->
    <section id="promo" class="section offset-header">
        <div class="container text-center">
            <!--<img src="/img/meanstack.svg" height="500">-->
            <p class="intro">Hello</p>
            <ul class="meta list-inline">
                <li><a href="https://github.com/jessicallogsdon/foodApp" target="_blank">View on GitHub</a></li>
                <li><a href="https://github.com/twbs/bootstrap" target="_blank">Full Documentation</a></li>
                <a href="/groceryList">go to grocery</a>
            </ul><!--//meta-->
        </div><!--//container-->
    </section><!--//promo-->

    <!-- ******ABOUT****** -->
    <section id="about" class="section">
        <div class="container">
            <h2 class="title text-center">So, what next ?</h2>
            <p class="intro text-center">Welcome to your mean-stack application. Are you a Javascript lover ? So you are at the right place. MEAN is for MongoDB, ExpressJS, AngularJS, and NodeJS, which means you can write Javascript code on each side of the project (backend - frontend).</p>
        </div><!--//container-->
    </section><!--//about-->


    <!-- ******CONTACT****** -->
    <section id="contact" class="section">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">Stay tuned</h2>
                <p class="intro  text-center">I hope this generator will help you in your work. <br />Feel free to get in touch if you have any questions or suggestions.</p>

            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->
